html{
    height: 100%;
}
body{
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-left: 650px;
    padding-top: 140px;
    padding-right: 350px;
    background-image: url(circle.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.container{
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    /* height: 50%; */
    border-radius: 5px;
    background-color: powderblue;
    border:0.5px solid midnightblue;
}
.main_screen{
    margin: 0;
    background-color: white;
    color:#1a0000;
    font-size: 70px;
    border-radius: 5px;
    padding: 3px;
    text-align: center;

}
.main_screen span{
    display: inline-block;
    width: 85px;
    text-align: center;
    
}
.buttons{
    display: flex;
    margin: 50px -5px 0;
    background-color:powderblue;
    border-radius: 5px;
    padding: 15px;
}
.buttons button{
    flex: 1;
    margin: 0 5px;
    font-size: 22px;
    color:#1a0000;
    font-weight: bold;
    cursor: pointer;
    border:0.5px solid midnightblue;
    border-radius: 5px;

}
.buttons button:hover{
    background-color: #f5e6ff;
    color: midnightblue;
}


@media screen and (min-width: 401px) {
    #minutes{
      font-size: 50px;
    }
    #seconds{
      font-size: 50px;
    }
    #milisec{
        font-size: 50px;
    }
    .main_screen{
        font-size: 30px;
    }
  }
  

  @media screen and (max-width: 400px) {
    #minutes{
        font-size: 37px;
      }
      #seconds{
        font-size: 37px;
      }
      #milisec{
        font-size: 37px;
      }
      .main_screen{
        font-size: 37px;
    }
  }